:root{
    --heading-color: hsl(75, 94%, 57%);
    --background-color: hsl(0, 0%, 8%);
    --container-color: hsl(0, 0%, 12%);
    --button-color: hsl(0, 0%, 20%);
}
*, *::before, *::after {
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: var(--background-color);
    color: white;
    min-height: 100vh;
    display: grid;
    place-content: center;
    font-family: 'Inter',system-ui,sans-serif;
}
.profile-container{
    background-color: var(--container-color);
    max-width: 100%;
    width: 400px;
    text-align: center;
    border-radius: 15px;

    & h1{
    margin-bottom: 10px;
    }

    & h3{
        color: var(--heading-color);
        margin-top: 10px;
    }
    
    & p{
        margin-top: 40px;
        margin-bottom: 30px;
    }
}
.social-media-button{
    margin-inline: auto;
    margin-bottom: 20px;
    background-color: var(--button-color);
    width: 100%;
    max-width: 350px;
    border-radius: 15px;
    padding: 15px;
}
.social-media-button:hover{
    background-color: hsl(75, 94%, 57%);
    cursor: pointer;
}
.social-media-button:last-child{
    margin-bottom: 40px;
}
.profile-photo{
    width:120px;
    height:120px;
    border-radius: 100px;
    margin-top: 30px;
}